.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #3D68A3;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.report-grid {
  padding: 30px;
  display: flex;
  flex-flow: wrap; 
}

.report-card {
  border: 2px grey solid;
  margin: 20px;
  padding: 10px;
  text-align: left;
}

.archive-button {
  background: #3D68A3;
  color: white;
  padding: 15px;
  text-align: center;
}

.archive-button-disable {
  background: grey;
  color: white;
  padding: 15px;
  text-align: center;
}

.load-more-buttom {
  background: #3D68A3;
  color: white;
  padding: 15px;
  text-align: center;
}
